@page "/memories/temp"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<div class="page-title">
    <i class="bi bi-hourglass"></i> 临时记忆
</div>

<div class="page-placeholder">
    <i class="bi bi-hourglass"></i>
    <span>临时记忆浏览页（开发中）</span>
</div>
